In [56]:
# accessing elements in nested dicts or sequence dt in another
team = {
    "Trainees" : {
    "Trainee 1" : {
        "Name" : "Gurjeet",
        "Level" : "Trainee",
        "Emp_code" : 1111
    },
    "Trainee 2" : {
        "Name" : "Pragati",
        "Level" : "Trainee",
        "Emp_code" : 2222
    },
    "Trainee 3" : {
        "Name" : "Pratik",
        "Level" : "Trainee",
        "Emp_code" : 3333
    }
},
    "Trainer" : {
        "Trainer 1" : {
            "Name" : "Anshuman",
            "Level" : "Sr Spl Azure",
            "Emp_code" : 4444
        },
         "Trainer 2" : {
            "Name" : "Sandeep",
            "Level" : "Sr Spl AWS",
            "Emp_code" : 5555
        },
        
    },
        "AWS" : {
        "ER 1" : {
            "Name" : "Srinivas",
            "Level" : "Sr Spl AWS",
            "Emp_code" : 6666
        },
         "ER 2" : {
            "Name" : "Satish",
            "Level" : "Sr Spl AWS",
            "Emp_code" : 5555
        },
        
    }
}
type(team)
# print(team[2])

dict

In [51]:
print(team["Trainer"]["Trainer 1"]["Name"])
print(team["Trainees"]["Trainee 1"]["Name"])
print(team["AWS"]["ER 2"]["Name"])

Anshuman
Gurjeet
Satish

In [42]:
foo = {
    "logged_in":True,
    "town":"Dublin",
    "state":"Ohio",
    "country":"USA",
    "products":2,
    
    "0" : {
        "pic_id" : 1500,
        "description":"Picture of a computer",
        "localion":"img.cloudimages.us/2012/06/02/computer.jpg",
        "type":"jpg",
        "childrenimages":2,

        "0" : {
        "pic_id" : 15011,
        "description":"Picture of a cpu",
        "localion":"img.cloudimages.us/2012/06/02/mycpu.png",
        "type":"png"
          },
        "1": {
        "pic_id" : 15012,
        "description":"Picture of a cpu two",
        "localion":"img.cloudimages.us/2012/06/02/thiscpu.png",
        "type":"png"
          }
    },
    "1":{
        "pic_id" : 1501,
        "description":"Picture of a cpu",
        "localion":"img.cloudimages.us/2012/06/02/cpu.png",
        "type":"png"
    },
}
print(foo["0"]["1"]["pic_id"])

15012

In [156]:
# sets in python -> set_name = {}
"""
sets are - 
immutable
unordered
can store multiple DTs
doesnt allow duplicates
once items are added cannot be changed only can be added
"""
my_set = {1, 2, 3, True, "A", "B", "C", 1.1, 2.2}
print(my_set)
print(len(my_set))
print(type(my_set))

{1, 2, 3, 1.1, 'C', 2.2, 'A', 'B'}
8
<class 'set'>

In [157]:
# adding item in set -> set_name.add(Value)

print(my_set)
my_set.add(100)
# my_set.update([200,300,400])
print(my_set)

{1, 2, 3, 1.1, 'C', 2.2, 'A', 'B'}
{1, 2, 3, 1.1, 'C', 2.2, 100, 'A', 'B'}

In [82]:
# joining two or more sets -> set_name.update(new_set, or any other sequence DT)

my_set_1 = {"a", "b", "c"}
my_list = [100, 200, 300]
print(my_set_1)
print(my_set)
my_set.update(my_set_1, my_list)
print(my_set)

{'a', 'c', 'b'}
{1, 2, 3, 1.1, 'C', 2.2, 'b', 'A', 'B', 'c', 200, 300, 100, 'a'}
{1, 2, 3, 1.1, 'C', 2.2, 'b', 200, 'A', 'B', 100, 'c', 300, 'a'}

In [83]:
# removing an item from set -> set_name.remove(Value)
# remove will give an error if item doesnt exist

my_set.remove(100)
print(my_set)

{1, 2, 3, 1.1, 'C', 2.2, 'b', 200, 'A', 'B', 'c', 300, 'a'}

In [85]:
# removing an item from set -> set_name.discard(Value)
# discard wont give an error when we use discard

my_set.discard(100)
my_set.remove(100)

KeyError: 100

In [88]:
# removing an item with pop it will pop random value -> set_name.pop()

my_set.pop()
print(my_set)

{3, 1.1, 'C', 2.2, 'b', 200, 'A', 'B', 'c', 300, 'a'}

In [90]:
# clearing all the items from the set -> set_name.clear() || del set_name will completely delete the set

my_new_set = {1, 2, 3, 4}
print(my_new_set)
my_new_set.clear()
print(my_new_set)

{1, 2, 3, 4}
set()

In [95]:
# iterating through the set

for i in my_set:
    print(i)

3
1.1
C
2.2
b
200
A
B
c
300
a

In [98]:
# joining two sets -> set_name = set_name.union(set_name) 
# union -> excludes the common element present in both the sets

set_1 = {1, 2, 3}
set_2 = {4, 3, 5, 2}
set_1 = set_1.union(set_2)
print(set_1)

{1, 2, 3, 4, 5}

In [108]:
# to keep elements that are present in both sets -> set_name.intersection_update(set_name)
# it keeps common elements of both elements

set_1 = {1, 2, 3}
set_2 = {4, 3, 5, 2}
set_1.intersection_update(set_2)
print(set_1)

{2, 3}

In [130]:
# to keep only distinct elements from both the sets -> set_name.symmetric_difference_update(set_name)

set_1 = {1, 2, 3}
set_2 = {4, 3, 5, 2}
set_1.symmetric_difference_update(set_2)
print(set_1)

{1, 4, 5}

In [131]:
# to keep only distinct elements from both the sets -> set_name.symmetric_difference_update(set_name)

set_1 = {1, 2, 3}
set_2 = {4, 3, 5, 2}
new_set = set_1.symmetric_difference(set_2)
print(new_set)

{1, 4, 5}

In [122]:
# to return the value of first set that are NOT in second -> set_1.difference(set_2)
 
set_1 = {1, 2, 3}
set_2 = {4, 3, 5, 2}
new_set = set_1.difference(set_2)
print(new_set)

{1}

In [150]:
# discard values from one set that are present in another -> set_name.difference_update(set_name)

set_1 = {1, 2, 3, 6}
set_2 = {4, 3, 5, 2}
set_1.difference_update(set_2)
print(set_1)

{1, 6}

In [149]:
# if both sets are having unique elements then "True else False" -> print(set_1.isdisjoint(set_2))

"""
True -> if both sets has unique elements
False -> if both sets doesnt' have unique elements
"""

set_1 = {1, 2, 3, 6}
set_2 = {4, 5, 2, 3}
set_3 = {10, 20}

print(set_1.isdisjoint(set_2))
print(set_1.isdisjoint(set_3))

False
True

In [147]:
# to check for the subset -> set_1.issubset(set_2)

"""
True -> if all values of set-1 is present in set-2
False -> if all values of set-1 is not present in set-2
"""
set_1 = {2, 3, 4}
set_2 = {4, 5, 2, 3}
set_3 = {2, 3, 5, 6, 7}

print(set_1.issubset(set_2))
print(set_1.issubset(set_3))

True
False

In [152]:
# to check if the value of second set are available in first set -> set_1.issuperset(set_2)

set_1 = {2, 3, 4}
set_2 = {4, 5, 2, 3}
set_3 = {2, 3, 5, 6, 7}
set_2.issuperset(set_1)

True

In [167]:
import random
x = random.randint(1,100)
print(x)

41